/*
 * Copyright 2006-2008 Sxip Identity Corporation
 */

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, "MS Trebuchet", sans-serif;
    font-size: 14px;
}

#wrapper {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    border-bottom: solid 2px #c0c0c0;
    margin-bottom: 20px;
    height: 90px;
    padding-top: 20px;
}

#message {
    border: solid 1px #fff32a;
    padding: 10px;
    background: #fff79b;
    margin-bottom: 14px;
}

#body {
    margin-left: 150px;
    margin-right: 150px;
}

#footer {
    border-top: solid 2px #c0c0c0;
    margin-top: 20px;
    padding-top: 30px;
}

#footer p {
    text-align: center;
    color: #c0c0c0;

}

#contents {
    margin-bottom: 15px;
}

.form {
    margin-top: 5px;
}

.form input {
    border: solid 1px #ccc;
}

.left {
    float: left;
}

.right {
    float: right;
}

.footer-center {
    clear: both;
}

#footer a {
    text-decoration: none;
    color: #555;
}

input.openid {
    background: url( images/login_openid_bg.gif ) no-repeat;
    background-color: #fff;
    background-position: 0 50%;
    color: #000;
    padding-left: 18px;
}

